@model IEnumerable<WebApp.Models.Dto.CollegeClass.CollegeClassDto>

@{
    ViewData["Title"] = "Lista de Turmas";
}

<h1>@ViewData["Title"]</h1>

<partial name="Error" />

<p>
    <a class="btn btn-info" asp-action="Create">Nova Turma</a>
</p>
<partial name="_ListCollegeClass" />
