@model IEnumerable<WebApp.Models.Dto.Student.StudentDto>

@{
    ViewData["Title"] = "Lista de Alunos";
}

<h1>@ViewData["Title"]</h1>

<partial name="Error" />

<p>
    <a class="btn btn-info" asp-action="Create">Novo Aluno</a>
</p>
<partial name="_ListStudents" />
