@if (TempData["Error"] != null)
{

    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger">
        <h3 id="msgRetorno">@Html.Raw(TempData["Error"].ToString())</h3>
    </div>
}

@if (TempData["Sucesso"] != null)
{
        <div style="padding-top: 15px;"></div>
        <div id="msg_box" class="alert alert-success">
        <h3 id="msgRetorno">@TempData["Sucesso"]</h3>
        </div>
}